:root {
    --n0nc-color: rgba(40, 201, 226, 1);
    --n1st-color: rgba(0, 44, 73, 1);
    --n2nd-color: rgba(232, 235, 237, 1);
    --n3rd-color: rgba(255, 255, 255, 1);
    --n4rd-color: rgba(250, 250, 250, 1);
    --n5rd-color: rgba(244, 244, 244, 1);
    --n6rd-color: rgba(235, 235, 235, 1);
    --n7rd-color: rgba(116, 116, 116, 1);
    --n8rd-color: rgba(0, 0, 0, 0.1);

    --opt1-color: rgba(235, 235, 235, 1);
    --opt2-color: rgba(244, 244, 244, 1);
}

* {
    margin: 0;
    font-family: "alqabas";
}

a {
    text-decoration: none;
}