{% extends '20220730000000000001_HOME.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="" rel="icon" type="image/png"/>
        <title>
            المميز والمتميز التعليمي
        </title>
        <meta name="المميز والمتميز التعليمي" content=""/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'font/Inconsolata/Inconsolata.css' %}"/>
    </head>
    <body>
        
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/M.js' %}"></script>
</html>