{% extends '20220730000000000001_HOME.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="" rel="icon" type="image/png"/>
        <title>
            المميز والمتميز التعليمي
        </title>
        <meta name="المميز والمتميز التعليمي" content=""/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/S.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/F.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'font/Inconsolata/Inconsolata.css' %}"/>
    </head>
    <body>
        <div>
            <div></div>
            <div class="list">
                <div>
                    <div>
                        الكل
                    </div>
                    <div>
                        ورقي
                    </div>
                    <div>
                        محوسب
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/M.js' %}"></script>
    <script src="{% static 'JS/H.js' %}"></script>
</html>