<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="{% static 'Media/IMG/LOGO.png' %}" rel="icon" type="image/png"/>
        <title>
            مقتطفات من الكتاب والسنة
        </title>
        <meta name="Moqtatafat" content="مقتطفات من الكتاب والسنة"/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/S0.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/F.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'Fonts/Tajawal/font.css' %}"/>
<!--    Colors                      -->
<!--
    rgba(0,0,0,1)
    rgba(255,255,255,1)
    rgba(247,181,0,1)   ===> rgba(242,222,187,1)
    rgba(104,114,121,1) ===> rgba(186,19,28,1)
    rgba(17,21,24,1)
-->
    </head>
    <body>
        <header>
            <div class="pic-hdr" style="background: url({% static '/Media/IMG/bg-07-free-img.jpg' %}); background-repeat: no-repeat; background-size: cover;">
                <div>
                    اكتشف من نحن
                </div>
            </div>
            <div class="hdr">
                <div>
                    <a class="hdr-lst" href="./epsoides">
                        حلقات الموسم
                    </a>
                    <a class="hdr-lst" href="./posts">
                        المقالات
                    </a>
                </div>
                <a href="./">
                    <img src="{% static 'Media/IMG/LOGO.png' %}"/>
                </a>
                <div>
                    <a class="hdr-lst" href="./images">
                        الصور
                    </a>
                    <a class="hdr-lst" href="./about">
                        من نحن
                    </a>
                </div>
            </div>
            <div class="ctc">
            
            </div>
        </header>
        <section>
            <div class="opn-par">
                <div>
                    الفريق
                </div>
                <div class="opn num">
                    <div>
                        <div>
                            <div>
                                ١
                            </div>
                        </div>
                        <div>
                            <b>يوسف حسن (اﻷي تي)</b><br/>
                            <a href="https://www.facebook.com/JO101100" target="_blank">
                                الفيس بوك
                            </a>، 
                            <a href="https://te.me/JOYosephHassan" target="_blank">
                                التليجرام
                            </a>، 
                            <a href="https://m.me/JO101100" target="_blank">
                                الماسنجر
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                ٢
                            </div>
                        </div>
                        <div>
                            <b>أحمد إسماعيل (اﻷي تي)</b><br/>
                            <a href="https://wa.me/+966541668747" target="_blank">
                                الواتس اب
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opn-par">
                <div>
                    الداعمون
                </div>
                <div class="opn num">
                    <div>
                        <div>
                            <div>
                                ١
                            </div>
                        </div>
                        <div>
                            يوسف حسن
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                ٢
                            </div>
                        </div>
                        <div>
                            أحمد إسماعيل
                        </div>
                    </div>
                </div>
            </div>
            <div class="opn-par">
                <div>
                    تاريخ التأسيس والهدف
                </div>
                <div class="opn dat">
                    <div>
                        <div>
                            <div>
                                ٢٠٢٢/٢/١٩
                            </div>
                        </div>
                        <div>
                            يوسف حسن
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                ٢٠٢٢/٢/١٩
                            </div>
                        </div>
                        <div>
                            أحمد إسماعيل
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            
        </section>
        <footer>
            <div>
                <div>
                    <div>
                        صفحاتنا
                    </div>
                    <div>
                        {% for i in footer.pages %}
                        <a href="{{ i.1 }}" target="_blank">
                            {{ i.0 }}
                        </a><br/>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div>
                        جروبتنا
                    </div>
                    <div>
                        {% for i in footer.groups %}
                        <a href="{{ i.1 }}" target="_blank">
                            {{ i.0 }}
                        </a><br/>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div>
                        آخر اﻷخبار
                    </div>
                    <div>
                        {% for i in footer.news %}
                        <a href="{{ i.1 }}">
                            {{ i.0 }}
                        </a><br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                حقوق النشر © لعام {{ footer.year }} محفوظة لموقع
                <a href="./">مقتطفات من الكتاب والسنة</a><br/>
                تم إنشاؤه بواسطة
                <a href="./about">فريق مقتطفات من الكتاب والسنة</a><br/>
            </div>
        </footer>
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/H.js' %}"></script>
    <script src="{% static 'JS/S0.js' %}"></script>
</html>