<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="{% static 'Media/IMG/LOGO.png' %}" rel="icon" type="image/png"/>
        <title>
            مقتطفات من الكتاب والسنة
        </title>
        <meta name="Moqtatafat" content="مقتطفات من الكتاب والسنة"/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/S0.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/F.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'Fonts/Tajawal/font.css' %}"/>
<!--    Colors                      -->
<!--
    rgba(0,0,0,1)
    rgba(255,255,255,1)
    rgba(247,181,0,1)   ===> rgba(242,222,187,1)
    rgba(104,114,121,1) ===> rgba(186,19,28,1)
    rgba(17,21,24,1)
-->
    </head>
    <body id="b">
        <header id="h">
            <div id="h_0" class="pic-hdr" style="background: url({% static '/Media/IMG/bg-07-free-img.jpg' %}); background-repeat: no-repeat; background-size: cover;">
                <div id="h_0_0">
                    اكتشف من نحن
                </div>
            </div>
            <div id="h_1" class="hdr">
                <div id="h_1_0">
                    <a id="h_1_0_0" class="hdr-lst" href="./epsoides">
                        حلقات الموسم
                    </a>
                    <a id="h_1_0_1" class="hdr-lst" href="./posts">
                        المقالات
                    </a>
                </div>
                <a id="h_1_1" href="./">
                    <img id="h_1_1_0" src="{% static 'Media/IMG/LOGO.png' %}"/>
                </a>
                <div id="h_1_2">
                    <a id="h_1_2_0" class="hdr-lst" href="./imgs">
                        الصور
                    </a>
                    <a id="h_1_2_1" class="hdr-lst" href="./about">
                        من نحن
                    </a>
                </div>
            </div>
            <div id="h_3" class="ctc">
            
            </div>
        </header>
        <section id="s0">
            <div id="s0_0" class="opn-par">
                <div id="s0_0_0">
                    الفريق
                </div>
                <div id="s0_0_1" class="opn num">
                    <div id="s0_0_1_0">
                        <div id="s0_0_1_0_0">
                            <div id="s0_0_1_0_0_0">
                                ١
                            </div>
                        </div>
                        <div id="s0_0_1_0_1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="s0_1" class="opn-par">
                <div id="s0_1_0">
                    آراء بعض الناس
                </div>
                <div id="s0_1_1" class="opn">
                    
                </div>
            </div>
        </section>
        <section id="s1">
            
        </section>
        <footer id="f">
            <div id="f_0">
                <div id="f_0_0">
                    <div id="f_0_0_0">
                        صفحاتنا
                    </div>
                    <div id="f_0_0_1">
                        <a id="f_0_0_1_0" href="">
                            الفيس بوك
                        </a><br/>
                        <a id="f_0_0_1_1" href="">
                            تليجرام
                        </a>
                    </div>
                </div>
                <div id="f_0_1">
                    <div id="f_0_1_0">
                        جروبتنا
                    </div>
                    <div id="f_0_1_1">
                        <a id="f_0_1_1_0" href="">
                            الفيس بوك
                        </a>
                    </div>
                </div>
                <div id="f_0_2">
                    <div id="f_0_2_0">
                        آخر اﻷخبار
                    </div>
                    <div id="f_0_2_1">
                        <a id="f_0_2_1_0" href="">
                            الموقع
                        </a><br/>
                        <a id="f_0_2_1_1" href="">
                            الموقع
                        </a><br/>
                        <a id="f_0_2_1_2" href="">
                            الموقع
                        </a><br/>
                        <a id="f_0_2_1_3" href="">
                            الموقع
                        </a>
                    </div>
                </div>
            </div>
            <div id="f_1">
                حقوق النشر © لعام 2022 محفوظة لموقع
                <a id="f_1_0" href="./">مقتطفات من الكتاب والسنة</a><br/>
                تم إنشاؤه بواسطة
                <a id="f_1_1" href="./about">فريق مقتطفات من الكتاب والسنة</a><br/>
            </div>
        </footer>
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/H.js' %}"></script>
    <script src="{% static 'JS/S0.js' %}"></script>
</html>