<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="{% static 'Media/Photo/' %}" rel="icon" type="image/png"/>
        <title>
            مقتطفات من الكتاب والسنة
        </title>
        <meta name="Moqtatafat" content="مقتطفات من الكتاب والسنة"/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'Fonts/Tajawal/font.css' %}"/>
<!--    Colors                      -->
<!--
    rgba(0,0,0,1)
    rgba(255,255,255,1)
    rgba(247,181,0,1)
    rgba(104,114,121,1)
-->
    </head>
    <body id="b">
        <header id="h">
            <div id="h_0" class="sld">

            </div>
            <div id="h_1" class="hdr">
                <div id="h_1_0">
                    <a id="h_1_0_0" href="./epsoides">
                        حلقات الموسم
                    </a>
                    <a id="h_1_0_1" href="./posts">
                        المقالات
                    </a>
                </div>
                <a id="h_1_1" href="./">
                    <img id="h_1_1_0" src="{% static 'Media/IMG/LOGO.png' %}"/>
                </a>
                <div id="h_1_2">
                    <a id="h_1_2_0" href="./imgs">
                        الصور
                    </a>
                    <a id="h_1_2_1" href="./about">
                        من نحن
                    </a>
                </div>
            </div>
        </header>
        <section id="s0">
            
        </section>
        <section id="s1">

        </section>
        <footer id="f">
            
        </footer>
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/' %}"></script>
</html>