<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="{% static 'Media/IMG/LOGO.png' %}" rel="icon" type="image/png"/>
        <title>
            مقتطفات من الكتاب والسنة
        </title>
        <meta name="Moqtatafat" content="مقتطفات من الكتاب والسنة"/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'Fonts/Tajawal/font.css' %}"/>
<!--    Colors                      -->
<!--
    rgba(0,0,0,1)
    rgba(255,255,255,1)
    rgba(247,181,0,1)
    rgba(104,114,121,1)
-->
    </head>
    <body id="b">
        <header id="h">
            <div id="h_0" class="sld">
                {% for i in slides %}
                <div style="background : url({% static i.bkgd %}); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                    <div>
                        <div>
                            <span>{{ i.text }}</span>
                            <a href="{{ i.link }}">من هنا</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="h_2" class="hdr">
                <div id="h_2_0">
                    <a id="h_2_0_0" class="hdr-lst" href="./epsoides">
                        حلقات الموسم
                    </a>
                    <a id="h_2_0_1" class="hdr-lst" href="./posts">
                        المقالات
                    </a>
                </div>
                <a id="h_2_1" href="./">
                    <img id="h_2_1_0" src="{% static 'Media/IMG/LOGO.png' %}"/>
                </a>
                <div id="h_1_2">
                    <a id="h_2_2_0" class="hdr-lst" href="./imgs">
                        الصور
                    </a>
                    <a id="h_2_2_1" class="hdr-lst" href="./about">
                        من نحن
                    </a>
                </div>
            </div>
            <div id="h_3" class="scl-btn">
                {% for i in slides %}
                <div></div>
                {% endfor %}
            </div>
            <div id="h_3" class="ctc">
            
            </div>
        </header>
        <section id="s0" style="height:2000px">
            <div id="s0_0">
                {% for i in opinion %}
                    <div>i.text</div>
                {% endfor %}
        </section>
        <section id="s1">
            <form action="./epsoides" method="POST">
                {% csrf_token %}
                <input name="name"/>
                <input type="submit"/>
        </section>
        <footer id="f">
            <div id="f_0">

            </div>
            <div id="f_1">

            </div>
        </footer>
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/H.js' %}"></script>
</html>