<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="{% static 'Media/IMG/LOGO.png' %}" rel="icon" type="image/png"/>
        <title>
            مقتطفات من الكتاب والسنة
        </title>
        <meta name="Moqtatafat" content="مقتطفات من الكتاب والسنة"/>
        <meta charset="UTF-8"/>
<!--    CSS                         -->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/S0.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/F.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'Fonts/Tajawal/font.css' %}"/>
<!--    Colors                      -->
<!--
    rgba(0,0,0,1)
    rgba(255,255,255,1)
    rgba(247,181,0,1)   ===> rgba(242,222,187,1)
    rgba(104,114,121,1) ===> rgba(186,19,28,1)
    rgba(17,21,24,1)
-->
    </head>
    <body>
        <header>
            <div class="sld">
                {% for i in slides %}
                <div style="background : url({% static i.bkgd %}); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    <div>
                        <div>
                            <span>{{ i.text }}</span>
                            <a href="{{ i.link }}">من هنا</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="hdr">
                <div>
                    <a class="hdr-lst" href="./episodes">
                        حلقات المواسم
                    </a>
                    <a class="hdr-lst" href="./posts">
                        المقالات
                    </a>
                </div>
                <a href="./">
                    <img src="{% static 'Media/IMG/LOGO.png' %}"/>
                </a>
                <div>
                    <a class="hdr-lst" href="./images">
                        الصور
                    </a>
                    <a class="hdr-lst" href="./about">
                        من نحن
                    </a>
                </div>
            </div>
            <div class="scl-btn">
                {% for i in slides %}
                <div></div>
                {% endfor %}
            </div>
            <div class="ctc">
            
            </div>
        </header>
        <section>
            <div class="opn-par">
                <div>
                    آراء بعض الناس
                </div>
                <div class="opn">
                    {% for i in opinion %}
                    <div>
                        <div>
                            <img src="{% static i.imgP %}" height="50" width="50"/>
                        </div>
                        <div>
                            <div>
                                {{ i.text }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section>
            
        </section>
        <footer>
            <div>
                <div>
                    <div>
                        صفحاتنا
                    </div>
                    <div>
                        {% for i in footer.pages %}
                        <a href="{{ i.1 }}" target="_blank">
                            {{ i.0 }}
                        </a><br/>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div>
                        جروبتنا
                    </div>
                    <div>
                        {% for i in footer.groups %}
                        <a href="{{ i.1 }}" target="_blank">
                            {{ i.0 }}
                        </a><br/>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div>
                        آخر اﻷخبار
                    </div>
                    <div>
                        {% for i in footer.news %}
                        <a href="{{ i.1 }}">
                            {{ i.0 }}
                        </a><br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                حقوق النشر © لعام {{ footer.year }} محفوظة لموقع
                <a href="./">مقتطفات من الكتاب والسنة</a><br/>
                تم إنشاؤه بواسطة
                <a href="./about#team">فريق مقتطفات من الكتاب والسنة</a><br/>
            </div>
        </footer>
    </body>
<!--    JS                          -->
    <script src="{% static 'JS/H.js' %}"></script>
    <script src="{% static 'JS/S0.js' %}"></script>
</html>